<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Buzz About Burgers</title>
</head>

<body>
  {{{ body }}}

{{!-- javascript tags --}}
  {{!-- bring in node package axios cdn --}}
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  {{!-- script tag to refer to app.js --}}
  <script src="./app.js"></script>

</body>

</html>