<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Buzz About Burgers</title>
</head>

<body>
  {{{ body }}}

  <a href="/burger">home</a>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>

</html>