<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" src="./public/assets/css/burger_style.css">
  <title>The Buzz About Burgers</title>
</head>

<body>
  <h1>The Buzz About Burgers</h1>

        {{{ body }}}
 
{{!-- javascript tags --}}
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  {{!-- script tag to refer to app.js --}}
  <script src="./app.js"></script>

</body>

</html>