<form>
  <p>
    <label for="burger_name"> Name a burger!</label>
    <input type="text" name="burger_name" id="burger_name">
  </p>
  <button id="addBurger">Add Burger</button>
</form>

{{!-- unordered list to store burgers and names --}}
<ul id="userBurgerName">
  {{!-- use 'each loop' to go through each burger and have mark-up appear for each one --}}
  {{#each burgers}}
    <li>
        {{!-- want to grab burger name off of each object, use dot notation to grab each individual --}}
        {{this.burger_name}}
        <button class="devour" data-id="{{this.id}}">Devour</button>

    </li>
  {{!-- closing bracket to 'each' --}}
  {{/each}}
</ul>