<h1>The Buzz About Burgers</h1>
<img id="burgerGraphic" src="assets/burgerGraphic.png" alt="graphic of burger">


{{!-- form to receive user input --}}
<div>
  <form>
    <p>
      {{!-- input box for user to enter burger name  --}}
      <label for="burger_name"> Name a burger!</label>
      <input type="text" name="burger_name" id="burger_name">
    </p>
    {{!-- button for user to submit burger name --}}
    <button id="addBurger">Add Burger</button>
  </form>
</div>

<container class="ulContainer">
  {{!-- unordered list to store burgers and names --}}
  <div id="notDevoured">
    <ul id="devour">
      {{!-- use 'each loop' to go through each burger and have mark-up appear for each one --}}
      {{#each burgers}}
      <li class="userBurgerInput">
        {{!-- want to grab burger name off of each object, use dot notation to grab each individual burger name--}}
        {{this.burger_name}}

        {{!-- this.id grabs the primary key id off each burger --}}
        <button className="devour" data-id="{{this.id}}">Devour</button>
      </li>
      {{!-- closing bracket to 'each' --}}
      {{/each}}
    </ul>
  </div>

<div id="burgerDevoured">
  <ul id='devoured'>
    {{#each devoured}}
      <li class="userBurgerInput">
        {{this.burger_name}}
      </li>
    {{/each}}
  </ul>
</div>
</container>