<h1>Hello World</h1>

<form>
  <p>
    <label for="burger_name"> Name a burger!</label>
    <input type="text" name="burger_name" id="burger_name">
  </p>
  <button id="addBurger">Add Burger</button>
</form>

{{!-- use 'each loop' to go through each burger and have mark-up appear for each one --}}
{{#each burgers}}

{{!-- want to grab burger name off of each object, use dot notation to grab each individual --}}
{{this.burger_name}}

{{!-- closing bracket to 'each' --}}
{{/each}}