body {
  text-align: center;
  margin: 30px;
}

h1 {
  text-align: center;
}

form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

li {
  margin-top: 10px;
  margin-bottom: 10px;
}

#burgerGraphic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 345px;
  height: 400px;
}

.eatTitle {
  font-size: medium;
  font-weight: bolder;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}

#notDevoured {
  display: flex;
  height: flex;
  width: 50%;
  float: left;
  justify-content: center;
  align-content: center;
  text-align: left;
  background-color: yellow;
  font-size: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 50px;
}

#burgerDevoured {
  display: flex;
  height: flex;
  width: 50%;
  float: right;
  justify-content: center;
  align-content: center;
  text-align: left;
  background-color: green;
  font-size: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 50px;
}

/* formatting for border image  */

#top, #bottom, #left, #right {
  background: red;
  position: fixed;
}

#left, #right {
  top: 0;
  bottom: 0;
  width: 15px;
}

#left {
  left: 0;
}

#right {
  right: 0;
}

#top, #bottom {
  left: 0;
  right: 0;
  height: 15px;
}

#top {
  top: 0;
}

#bottom {
  bottom: 0;
}